body, html {
    height: 100%;
}

.background {
  opacity: 0.7;
  background: url(/assets/images/headphones.jpg) no-repeat top center fixed;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

a {
  text-decoration: none!important;
}

.nav a:hover {
  text-shadow: 3px 3px 8px black;
}

@media (max-width: 1000px) {
    .player-bar {
      height: 100px;
    }

    #album-cover-art {
      height: 300px;
      width: 300px;
    }
}

.title {
  font-weight: 400;
  font-size: 140px;
  text-shadow: 3px 3px 8px black;
  color: #ffff;
  margin-top: 10%;
}

#root {
      height: 100%;
}

.card-deck {
  opacity: 0.75;
}

.card-header {
  height: 100px;
}

.song-btn {
  width: 40px;
  height: 30px;
}

.player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 125px;
    background: rgba(61, 61, 61, 0.8);
    color: #ffff;
    z-index: 100;
}

.player-bar .container {
    display: table;
    padding: 0;
    width: 90%;
    min-height: 100%;
}

.player-bar .controls{
    display: table-row;
    vertical-align: middle;
}

.table {
  background: rgba(61, 61, 61, 0.8);
  color: #ffff;
}

#buttons {
    width: 15%;
    text-align: center;
}

#time-control {
    width: 75%;
    text-align: center;
    padding-right: 1rem;
}

#volume-control {
    width: 75%;
    text-align: center;
    padding-right: 1rem;
}

#album-title {
  text-shadow: 3px 3px 8px black;
  color: #ffff;
}

.album-artist, #release-info {
  color: #ffff;
}

.card-body {
  background: rgba(61, 61, 61, 0.8);
  color: #ffff;
}

.card-body .library-title:hover {
  text-shadow: 3px 3px 8px #ffff;
}
