.App {
  text-align: center;
}

nav {
  float: left;
  padding-left: 10px;
}

.nav-link {
  padding-left: 20px;
  paddng-right: 20px;
  text-decoration: none;
}

.nav-link:hover {
  font-weight: bold;
  text-shadow: grey 1px 3px 4px;
}

h1 {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 30px;
}

.library .album-title {
  margin-top: 10px;
}

.library .album-pic {
  margin-top: 30px;
}
